{% extends 'base.html.twig' %}

{% block title %}TaskManager{% endblock %}

{% block body %}
    <header class="flex items-center justify-between py-4 border-b-2 border-solid border-slate-100 mb-5">
        <h1 class="font-bold text-2xl">Bonjour {{ app.user.firstname }} !</h1>

        <div class="flex flex-row gap-5">
            {% include 'components/_button.html.twig' with {
                'text': 'Se déconnecter',
                'route': path('app_logout'),
                'icon': 'fas fa-sign-out-alt',
            } %}
        </div>
    </header>

    <main class="grid grid-cols-1 gap-3 h-[80vh] lg:grid-cols-2">
        <div class="bg-slate-50 rounded-md row-span-2 h-full overflow-auto shadow-md">

            <div class="flex flex-row justify-between sticky top-0 bg-slate-50 p-4 items-center items-center z-10">
                <h2 class="text-xl font-bold">Tâches à réaliser</h2>

                <div>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    {% include 'components/_button.html.twig' with {
                        'text': 'Ajouter une tâche',
                        'route': path('app_task_create'),
                        'icon': 'fas fa-plus',
                    } %}
                {% endif %}
                </div>
            </div>

            <ul class="p-4 flex flex-col gap-2">
            {% for task in tasks %}
                <li class="relative flex items-center justify-between p-2 bg-white rounded h-full shadow-sm">
                    
                    <div>
                        <span class="block">{{ task.title }}</span>
                        {% if task.assignedTo %}
                            <span class="text-xs text-gray-500">Assigné à <span class="underline">{{ task.assignedTo.firstname }}</span></span>
                        {% else %}
                            <span class="text-xs text-gray-500">Assigné à tout le monde</span>
                        {% endif %}
                    </div>
                    
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <div class="flex flex-row gap-5">
                            {% if task.enable %}
                                <a href="{{ path('app_task_disable', {id: task.id}) }}" class="text-green-500 hover:text-green-700"><i class="fa-solid fa-toggle-on"></i></a>
                            {% else %}
                                <a href="{{ path('app_task_enable', {id: task.id}) }}" class="text-red-500 hover:text-red-700"><i class="fa-solid fa-toggle-off"></i></a>
                            {% endif %}


                            <a href="{{ path('app_task_delete', {id: task.id}) }}" class="text-red-500 hover:text-red-700"><i class="fas fa-trash"></i></a>
                            <a href="{{ path('app_task_update', {id: task.id}) }}" class="text-blue-500 hover:text-blue-700"><i class="fas fa-edit"></i></a>
                        </div>
                    {% endif %}

                </li>
            {% endfor %}
            </ul>
        </div>


        <div class="bg-slate-50 rounded-md h-full overflow-auto shadow-md">
            <div class="flex flex-row justify-between sticky top-0 bg-slate-50 p-4 items-center items-center">
                <h2 class="text-xl font-bold">Liste des sessions</h2>

                {% if 'ROLE_EMPLOYEE' in app.user.roles %}
                    <div>
                    {% if currentSession is null %}
                        {% include 'components/_button.html.twig' with {
                            'text': 'Commencer une session',
                            'route': path('app_work_session_start'),
                            'icon': 'fas fa-play',
                        } %}
                    {% else %}
                        {% include 'components/_button.html.twig' with {
                            'text': 'Voir la session en cours',
                            'route': path('app_work_session_show', {id: currentSession.id}),
                            'icon': 'fas fa-eye',
                        } %}
                    {% endif %}
                    </div>
                {% endif %}

            </div>
            
            <ul class="p-4 flex flex-col gap-3">
            {% for session in workSessions %}
                <li class="flex items-center justify-between p-2 bg-white rounded shadow-sm">
                    <div>
                        {% if session.finish is null %}
                            <span class="block">Session en cours</span>
                        {% else %}
                            <span class="block">Session de {{ session.duration|date("%hh %im %ss") }} le {{ session.start|date("d/m/Y") }}</span>
                        {% endif %}

                        <span class="text-xs text-gray-500">Réalisée par <span class="underline">{{ session.employee.firstname }}</span></span>
                    </div>

                    <div class="flex flex-row gap-5">
                        <a href="{{ path('app_work_session_show', {id: session.id}) }}" class="text-blue-500 hover:text-blue-700">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

        {% if 'ROLE_EMPLOYEE' in app.user.roles %}
        <div class="bg-slate-50 rounded-md shadow-md">
            <div class="flex flex-row justify-between sticky top-0 bg-slate-50 p-4 items-center">
                <h2 class="text-xl font-bold">Temps de travail</h2>
            </div>

            <div class="p-4 flex flex-col gap-3">
            TODO
            </div>

        </div>
        {% endif %}

    </main>

{% endblock %}
