{% if type is not defined or type == 'link' %}
<a href="{{ route }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center w-max">
    {% if icon %}
        <span class="mr-2"><i class="{{ icon }}"></i></span>
    {% endif %}
    {{ text }}
</a>
{% else %}
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center w-max" type="{{ type }}">
    {% if icon %}
        <span class="mr-2"><i class="{{ icon }}"></i></span>
    {% endif %}
    {{ text }}
</button>
{% endif %}