{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <header class="flex items-center justify-between py-4 border-b-2 border-solid border-slate-100 mb-5">
        <h1 class="font-bold text-xl">Liste des sessions</h1>
        
        <div class="flex flex-row gap-5">
            {% if 'ROLE_EMPLOYEE' in app.user.roles %}
                {% if currentSession %}
                    {% include 'components/button.html.twig' with {
                        'text': 'Voir ma session en cours',
                        'route': path('app_work_session_show', {'id': currentSession.id}),
                        'icon': 'fas fa-eye',
                    } %}
                {% else %}
                    {% include 'components/button.html.twig' with {
                        'text': 'Démarer une session',
                        'route': path('app_work_session_start'),
                        'icon': 'fas fa-play',
                    } %}
                {% endif %}
            {% endif %}
        </div>
    </header>

    <ul>
        {% for session in workSessions %}
            {% if session.finish is null %}
                <li>Session en cours depuis {{ session.start|date('d/m/Y H:i:s') }} - <a href="{{ path('app_work_session_show', {'id': session.id}) }}">Voir</a></li>
            {% else %}
                <li>Session de {{ session.duration|date("%hh %im %ss") }} le {{ session.start|date('d/m/Y') }} - <a href="{{ path('app_work_session_show', {'id': session.id}) }}">Voir</a></li>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}
